<!doctype html>
<html lang="en">

<head>
    {{> head}}
    <!-- linking custom site CSS -->
    <link rel="stylesheet" type="text/css" href="css/section_dashboard.css">
    <!--Title and favicon in tab-->
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
    <title>UCMB - {{pageTitle}}</title>
</head>

<body class="bg-warning">
    {{> nav}}


    <!-- MAIN CONTENT -->
    <main class="col-10 mx-auto border border-warning rounded my-5 bg-white">

</main>

    <!-- END OF MAIN CONTENT -->
    {{> footer}}
    {{> scripts}}

</body>

</html>